html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  /* Font Family */
  --font-primary: "Roboto", sans-serif;

  /* Colors */
  --color-dark-bg: #1f2937; /* Hero and Footer background */
  --color-light-text: #f9faf8; /* Hero main text and logo */
  --color-secondary-text: #e5e7eb; /* Hero secondary text */
  --color-accent-blue: #3882f6; /* Button/CTA background */
  --color-quote-bg: #e5e7eb; /* Quote section background */

  /* Font Sizes */
  --fs-hero-main: 48px;
  --fs-hero-secondary: 18px;
  --fs-logo: 24px;
  --fs-info-header: 36px;
  --fs-quote: 36px;

  /* Font Weights */
  --fw-extra-bold: 900;
  --fw-light: 300;

  /* Composite Text Styles */
  --text-hero-main: 900 48px/1.2 "Roboto", sans-serif;
  --text-hero-secondary: 400 18px/1.5 "Roboto", sans-serif;
  --text-logo: 400 24px/1.2 "Roboto", sans-serif;
  --text-info-header: 900 36px/1.3 "Roboto", sans-serif;
  --text-quote: 300 italic 36px/1.4 "Roboto", sans-serif;

  /*    Widths*/
  --max-width: 112rem;
}

.header {
  background-color: var(--color-dark-bg);
}

.header__container {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 5rem;
}

.header__logo {
  font-size: var(--fs-logo);
  font-weight: var(--fw-extra-bold);
  color: var(--color-light-text);
  letter-spacing: 0.2em;
}

.header__nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.header__nav-link {
  text-decoration: none;
  font-size: var(--fs-hero-secondary);
  color: var(--color-secondary-text);
}

main {
  flex: 1;
}
.hero__wrapper {
  background-color: var(--color-dark-bg);
  padding: 0 1rem 10rem;
  margin-bottom: 1rem;
}
.hero {
  max-width: var(--max-width);
  align-items: stretch;
  display: flex;
  margin: 0 auto;
}
.hero__content,
.hero__image-wrapper {
  flex: 1 0 50%;
}

.hero__title {
  font-size: var(--fs-hero-main);
  color: var(--color-light-text);
}
.hero__text {
  color: var(--color-secondary-text);
  font-size: var(--fs-hero-secondary);
  margin-bottom: 2rem;
}

.hero__cta {
  border: none;
  display: inline-block;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: var(--fs-hero-secondary);
  background-color: var(--color-accent-blue);
  color: var(--color-light-text);
  text-decoration: none;
  transition: padding-right 0.5s;
}

.hero__cta:hover {
  padding-right: 4.5rem;
  cursor: pointer;
}

.hero__image-wrapper {
  display: flex;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info__title {
  font-size: var(--fs-info-header);
  font-weight: var(--fw-extra-bold);
  color: var(--color-dark-bg);
  text-align: center;
  margin-bottom: 2rem;
}
.info {
  max-width: calc(var(--max-width) - 34rem);
  margin: 0 auto;
  padding: 0 1rem 5rem;
}

.info__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

.info__item {
  aspect-ratio: 1/1;
  border: 3px solid var(--color-accent-blue);
  border-radius: 0.5rem;
  display: flex;
}

.info__caption {
    font-size: calc(var(--fs-hero-secondary) - 4px);
    color: var(--color-dark-bg);
}